.Wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 3rem;
}

@media screen and (max-width: 480px) {
  .Wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
