.Wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 3rem;
  margin-bottom: 20rem;
  /* max-width: 135rem; */
}
.CardWrapper {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 3rem;
  /* justify-content: center; */
  max-width: 135rem;
}
.Heading {
  font-size: 5rem;
}
@media screen and (max-width: 1290px) {
  .CardWrapper {
    justify-content: center;
  }
}
