/* body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
} */
.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
  left: -539px;
  top: 440px;
}
.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(
    -45deg,
    /* rgba(95, 145, 255, 1), */ var(--white),
    rgba(0, 0, 255, 0)
  );
  border-radius: 999px;
  filter: drop-shadow(0 0 6px var(--white));
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    /* rgba(95, 145, 255, 1), */ var(--white),
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    /* rgba(95, 145, 255, 1), */ var(--white),
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - 149px);
  left: calc(50% - 136px);
  animation-delay: 2870ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after {
  animation-delay: 2870ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 102px);
  left: calc(50% - 280px);
  animation-delay: 5297ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after {
  animation-delay: 5297ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 186px);
  left: calc(50% - 51px);
  animation-delay: 6228ms;
}
.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after {
  animation-delay: 6228ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 21px);
  left: calc(50% - 116px);
  animation-delay: 242ms;
}
.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after {
  animation-delay: 242ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - -190px);
  left: calc(50% - 126px);
  animation-delay: 7920ms;
}
.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after {
  animation-delay: 7920ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - -39px);
  left: calc(50% - 115px);
  animation-delay: 4973ms;
}
.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after {
  animation-delay: 4973ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -70px);
  left: calc(50% - 134px);
  animation-delay: 1949ms;
}
.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after {
  animation-delay: 1949ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 105px);
  left: calc(50% - 57px);
  animation-delay: 4150ms;
}
.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after {
  animation-delay: 4150ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -12px);
  left: calc(50% - 266px);
  animation-delay: 5627ms;
}
.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after {
  animation-delay: 5627ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - 51px);
  left: calc(50% - 282px);
  animation-delay: 4157ms;
}
.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after {
  animation-delay: 4157ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 22px);
  left: calc(50% - 58px);
  animation-delay: 8565ms;
}
.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after {
  animation-delay: 8565ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - 102px);
  left: calc(50% - 105px);
  animation-delay: 1091ms;
}
.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after {
  animation-delay: 1091ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - -90px);
  left: calc(50% - 156px);
  animation-delay: 9073ms;
}
.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after {
  animation-delay: 9073ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - 160px);
  left: calc(50% - 251px);
  animation-delay: 4953ms;
}
.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after {
  animation-delay: 4953ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - -110px);
  left: calc(50% - 95px);
  animation-delay: 4625ms;
}
.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after {
  animation-delay: 4625ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 35px);
  left: calc(50% - 149px);
  animation-delay: 3658ms;
}
.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after {
  animation-delay: 3658ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -137px);
  left: calc(50% - 163px);
  animation-delay: 868ms;
}
.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after {
  animation-delay: 868ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -100px);
  left: calc(50% - 191px);
  animation-delay: 2447ms;
}
.shooting_star:nth-child(18)::before,
.shooting_star:nth-child(18)::after {
  animation-delay: 2447ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 74px);
  left: calc(50% - 10px);
  animation-delay: 7328ms;
}
.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after {
  animation-delay: 7328ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - 80px);
  left: calc(50% - 13px);
  animation-delay: 9337ms;
}
.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after {
  animation-delay: 9337ms;
}
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@media screen and (max-width: 480px) {
  .night {
    left: -232px;
    top: 305px;
  }
}
