.Wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: white;
}
.Navbar {
  display: flex;
  gap: 1rem;
}
.ContentWrapper {
  display: flex;
  flex-direction: column;
}
.Canvas {
  position: absolute;
  z-index: -1;
}
.NameHeading {
  color: var(--white);
  font-size: 10rem;
}
.NavbarText,
.Note {
  color: var(--description-grey);
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}
.NavbarText {
  cursor: pointer;
}
