.Wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  position: relative;
  padding-top: 1rem;
}
.MoodsWrapper {
  display: flex;
  gap: 4rem;
}
.WorkMoodWrapper {
  position: relative;
}
.ChillMoodWrapper {
  position: relative;
}

.MoodText {
  position: absolute;
  font-size: 4rem;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.MoodsImg {
  width: 60rem;
  height: 76rem;
  border-radius: 12px;

  object-fit: cover;
}
.StackWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background-color: var(--background-black);
  padding: 3rem;
  border-radius: 8px;
  width: 28rem;

  transition: transform 0.2s;
  box-shadow: rgba(201, 201, 201, 0.2) 0px 7px 29px 0px;
  cursor: pointer;

  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
}
.StackHeading {
  font-size: 3rem;
  margin: 0 auto;
}
.IconWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.StackText {
  font-size: 2rem;
}
.StackImg {
  width: 3rem;
}
@media screen and (max-width: 1570px) {
  .MoodsImg {
    width: 54rem;
    height: 65rem;
  }
}

@media screen and (max-width: 480px) {
  .MoodsWrapper {
    flex-direction: column;
    gap: 15rem;
  }
  .MoodsImg {
    width: 35rem;
    height: 41rem;
  }
  .StackWrapper {
    width: 26rem;
  }
}
