.Wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.FormWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.InputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Heading {
  font-size: 5rem;
}
.Input {
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 8px;
  padding: 0.5rem;
  width: 51rem;
  height: 4rem;
  font-size: 1.5rem;
}
.TextArea {
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1.5rem;
  height: 10rem;
}
.Label {
  font-size: 1.5rem;
}
.Btn {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 4.5rem;
  color: var(--black);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
