:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  letter-spacing: 1px;
  color: #cfcfcf;

  --description-grey: rgb(113 113 122 / 1);
  --white: #c9c9c9;
  --black: black;
  --background-black: #121214;
}
body {
  font-family: "Cal Sans";
}
html {
  scroll-behavior: smooth;
}
